<div class="card">
  <h2 class="card-title">Education</h2>
  <hr/>
  <br />
  {% for detail in site.author_education_details %} {% if detail.visibility == true %}
  <div class="row">
    <div class="col-md-2"><img
        src="{{site.url}}{{site.baseurl}}/assets/img/education_details/{{ detail.college_logo}}"
        class="company-logo"
      />
    </div>
    <div class="col-md-6">
      <h4 class="experience-title">{{detail.college_degree }}</h4>
      <h6 class="experience-info">{{detail.college_name}}</h6>
      <p class="experience-desc">{{detail.description}}</p>
      <p><a href="{{detail.college_url}}" target="_blank">{{ detail.college_url}}</a></p>
    </div>
  </div>
  {% endif %} {% endfor %}
</div>