<div id="author_projects" class="card">
  <h2 class="card-title">Projects</h2>
  <hr/>
  <br />
  {% for project in site.author_project_details %} {% if project.visibility == true %}
  <div class="row" id="project-card">
    <div class="col-md-6"><img
        src="{{site.url}}{{site.baseurl}}/assets/img/project_details/{{project.project_thumbnail}}"
        class="project-img"
      />
    </div>
    <div class="col-md-4 center">
      <h4 class="experience-title">{{ project.project_title }}</h4>
      <h6 class="experience-info">{{ project.project_info}}</h6>
      <p class="experience-desc">{{ project.project_description }}</p>
      <p><a class="project-link" href="{{project.project_url}}" target="_blank">{{ project.project_url}}</a></p>
    </div>
  </div>
  <br />
  {% endif %} {% endfor %}
</div>