---
layout: default
---

<div class="row ">
  <div class="col-lg-4 offset-md-1">
    <div class="card" id="profile-card">
      <a href="/">
        <img src="{{site.url}}{{site.baseurl}}/assets/img/{{ site.author_logo }}" class="profile-img" />
      </a>
      <h1 class="profile-name">{{ site.title }}</h1>
      <p class="profile-bio">{{ site.subtitle }}</p>
      {% if site.github_username %} {%- include github_follow_button.html -%} {% endif %}

      <!-- =================================== SOCIAL LINKS SECTION ================================= -->
      {%- include about/profile_links.html -%}

      {% if site.author_location %}
      <h6><i class="fas fa-map-marker-alt"></i> {{ site.author_location }}</h6>
      {% endif %}
      {% if site.author_contact_number %}
      <h6><i class="fas fa-phone fa-flip-horizontal"></i> {{ site.author_contact_number }}</h6>
      {% endif %}
      {% if site.author_email %}
      <h6><i class="fas fa-envelope"></i> {{ site.author_email }}</h6>
      {% endif %}
      {% if site.author_website_url %}
      <h6><i class="fas fa-link"></i> {{ site.author_website_url }}</h6>
      {% endif %}
    </div>

    {%- include about/coding_profile.html -%}

    <div class="card">
      <h2>Skills</h2>
      <hr/>
      {%- include about/author_skills.html -%}
    </div>

    <div class="card">
      <h2>Hobbies</h2>
      <hr/>
      {%- include about/author_hobbies.html -%}
    </div>

    {% if site.wakatime_username %}
    <div class="card">
      <h2>Coding Activity</h2>
      <hr/>
      {%- include about/coding_activity.html -%}
    </div>
    {% endif %}
  </div>

  <div class="col-lg-7">
    {% if site.author_bio %}
    <div class="card">
      <h2 class="card-title">About</h2>
      <hr/>
      <p>{{ site.author_bio }}</p>
    </div>
    {% endif %}
    <!-- =================================== PROJECT DETAILS SECTION ================================= -->
    {% if site.show_author_project_details == true %}
    {%- include about/projects.html -%}
    {% endif %}
    <!-- =================================== WORK EXPERIENCE SECTION ================================= -->
    {% if site.show_author_work_experiences == true %}
    {%- include about/work_experiences.html -%}
    {% endif %}
    <!-- ===================================== EDUCATION SECTION ================================= -->
    {% if site.show_author_education_details == true %}
    {%- include about/education.html -%}
    {% endif %}
    <!-- =================================== Achievements SECTION ================================= -->
    <!-- TODO -->
    {%- include about/achievements.html -%}
    <!-- =================================== Certifications SECTION ================================= -->
    <!-- TODO -->
    {%- include about/certifications.html -%}
  </div>
</div>
